#main
  .show_all
    %h2 Wszystkie kontakty z twojego profilu
    -@people.each do |person|
      .person
        %p
          = person.name
          -if person.adress
            = person.adress
          = person.id
          = link_to_url(person_url(@person))
      

