- form_for ([@protocol, @challenge]) do |f|
  = f.error_messages
  %p
    %input{  :id => "challenge_protocol_id", :name => "challenge[protocol_id]", :value => params[:protocol_id], :type => "hidden"}
  %p
    %label dane testowe
    = f.text_field :data
  %p
    %label oczekiwany wynik
    %input{:type => "radio", :name => "challenge[result]", :id => "challenge_result_true", :value => "true"} prawda
    %input{:type => "radio", :name => "challenge[result]", :id => "challenge_result_false", :value => "false"} fałsz
  %p
    = submit_tag "Zatwierdź" , :class => "submit"
