#tests
  -@protocol.tests.each do |te|
    %p
      %b Dane do walidacji
      = te.data
      %br
      %b Oczekiwany rezultat
      - if te.result
        prawda
      - else
        fałsz
      %br
      %b Uzyskany resultat
      %br
      = link_to 'Edytuj test', edit__tests_path(te)     
  = link_to 'Nowy test', new_tests_path(te)
  
